.section-container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.text-container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr ;
justify-items: center;
gap: 2.5rem;
}

.text-show-container {
   margin-top: 5rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center  ;
}


.my-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.my-h1 {
    font-size: 2.5rem;
}

.my-p {
    font-size: 1.25rem;
}

.penguin-settings {
  object-fit: cover;
  width: 50rem;
  height: 20rem;
}

.box {
  display: grid;
  width: 200px;
  height: 50px;
  border: 1px solid red;
  margin-bottom: 3rem;
  text-align: center;
  place-items: center;
}

.box-1 {
  transform: rotate(-10deg);
}
.box-2 {
  margin-left: 0.5rem;
}
.box-3 {
  transform: rotate(10deg);
}